[submodule "submodules/http-parser"]
	path = submodules/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
